# Copia este archivo como .env.local
# Si dejas estas variables vacías, GenioKids funcionará en modo demo con localStorage.

VITE_SUPABASE_URL="https://ukkuvaicirnbzruadqcm.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVra3V2YWljaXJuYnpydWFkcWNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0Njk4NTgsImV4cCI6MjA5NzA0NTg1OH0.f4-N4-8RZU2OcvjucdlvPAwi73PvmLSjyPWyco4SFis"
VITE_APP_MODE=supabase
